.card {
    border-radius: 5px;
    border: 1px solid #31a02c;
    margin-top: 10px;
    overflow:hidden;
}

.header {
    background-color: #31a02c;
    color: white;
    padding-left: 10px;
}

.indent {
    padding: 5px 5px 5px 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}

.object-value {
    display: flex;
    flex-direction: row;
    flex: 1 0;
    grid-gap: 5px;
}