.box {
    border: 1px solid #5261ce;
    border-radius: 5px;
    flex: 1;
}

.three-column-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px 10px;
    padding: 5px;
}

summary {
    padding-left: 5px;
    background-color: #5261ce;
    color: white;
}